.btn{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 43px;
    width: min-content;
    
    padding: 0 4px 0px 20px;
    border-radius: 100vw;
    background: #D3DEF0;
    border: none;
    font-family: inherit;
    margin-left: 8px;
    
}

.username {
    color: #000;
    margin-right: 10px;
    font-family: inherit;
}