.menu {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #fff;
    transition: all 0.2s ease-out;
    padding: 0 20px;
}

.list {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding-top: 80px;
    overflow-y: scroll;
    
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}