.menu{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    
    z-index: 999;
    background-color: #fff;
}

.list{
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding-top: 80px;
}

.item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}