.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: none;

}

.btn:hover {
    background-color:  rgba(0, 0, 0, 0.1) !important;
}

.btn.dark:hover {
    background-color:  rgba(255, 255, 255, 0.1) !important;
}

.icon {
    height: 15px !important;
    width: auto;
}

.modal{
    position: absolute;
    padding: 10px 20px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    translate: 0 0;
    z-index: 99;
    transition: all 0.2s ease-in-out;
    transition-delay: 200ms;
    pointer-events: none;
    left: 130%;
}

.modal_txt{
    text-align: center;
    text-wrap: nowrap;
    line-height: 150%;
}