.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 360px;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    padding: 16px 11px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.top, .bottom {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.workspaceName {
    position: relative;
    color: #000;
}

.priority {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    border-radius: 8px;
}

.priority>.text {
    position: relative;
    color: #fff;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.title {
    position: relative;
    color: #000;
    margin-bottom: 10px;
}

.desc {
    position: relative;
    color: #000;
}

.assigned_member {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;

}

.member {
    position: relative;
}

.info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.subInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 13px;
}

.subInfo>.text {
    position: relative;
    margin-left: 8px;
    color: #1C062D;
}


@media screen and (max-width: 425px) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        min-width: 300px;
        height: 164px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 12px;
        padding: 16px 11px;
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.25);
    }

    .top, .bottom {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .workspaceName {
        position: relative;
        color: #000;
    }

    .priority {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 15px;
        border-radius: 8px;
    }

    .priority>.text {
        position: relative;
        color: #fff;
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }

    .title {
        position: relative;
        color: #000;
        margin-bottom: 10px;
    }

    .desc {
        position: relative;
        color: #000;
    }

    .assigned_member {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        list-style-type: none;

    }

    .member {
        position: relative;
    }

    .info {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .subInfo {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-left: 13px;
    }

    .subInfo>.text {
        position: relative;
        margin-left: 8px;
        color: #1C062D;
    }


}