.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
    width: 280px;
    height: 356px;
    border-radius: 15px;

}

.figure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98px;
    height: auto;
    bottom: 87px;
    right: 20px;
    scale: 2;
    translate: -60px -40px;
}

.ilust {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

}

.headers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.name {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-decoration: underline;
    text-align: left;
    margin-bottom: 5px;

}

.desc {
    position: relative;
    color: #000;
}

.assigned_list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
    list-style: none;
    transform: scale(1);
    /* top: 50%; */
    /* left: 0; */
    /* translate: 0 25%; */
}

.assigned_item {
    position: relative;

}

.bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px 10px;
        width: 250px;
        height: calc(5/4 * 250px);
        border-radius: 15px;

    }

    .figure {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: calc(60/98 * 150px);
        bottom: 87px;
        right: 20px;
        scale: 1;
        translate: 0 0;
    }

    .ilust {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .top {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }

    .headers {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    .name {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #000;
        text-decoration: underline;
        text-align: left;

    }

    .desc {
        position: relative;
        color: #000;
    }

    .assigned_list {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: min-content;
        list-style: none;
        transform: scale(1);
        /* top: 50%; */
        /* left: 0; */
        /* translate: 0 25%; */
    }

    .assigned_item {
        position: relative;

    }

    .bottom {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}