.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    width: 230px;
    height: calc(356/280 * 230px);
    border-radius: 15px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.skeleton{
    animation-name: breathing;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes breathing {
    0% {
      transform: scale(1);
      background-color: #f2f2f2; /* Light gray */
    }
    50% {
      transform: scale(1);
      background-color: #d0d0d0; /* Slightly darker gray */
    }
    100% {
      transform: scale(1);
      background-color: #f2f2f2; /* Light gray */
    }
  }

.placeholder {
    border: 4px dashed rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.placeholder .txt {
    position: relative;
}

.card:hover{
    transform: translate(0, -5%);
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.16);
}

.card:active {
    transform: scale(0.94) !important;
    opacity: 0.8
}

.figure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: auto;
    bottom: 87px;
    right: 20px;
    scale: 2;
    translate: -20px -20px;
}

.ilust {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

}

.headers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.name {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-decoration: underline;
    text-align: left;
    margin-bottom: 5px;

}

.desc {
    position: relative;
    color: #000;
}

.assigned_list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
    list-style: none;
    transform: scale(1);
    /* top: 50%; */
    /* left: 0; */
    /* translate: 0 25%; */
}

.assigned_item {
    position: relative;

}

.bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px;
        width: 250px;
        height: calc(5/4 * 250px);
        border-radius: 15px;

    }

    .placeholder {
        border: 4px dashed rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: center;
    }
    

    .figure {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: calc(60/98 * 150px);
        bottom: 87px;
        right: 20px;
        scale: 1;
        translate: 0 0;
    }

    .ilust {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        scale: 1.5;
    }

    .top {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }

    .headers {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    .name {
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #000;
        text-decoration: underline;
        text-align: left;

    }

    .desc {
        position: relative;
        color: #000;
    }

    .assigned_list {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: min-content;
        list-style: none;
        transform: scale(1);
        /* top: 50%; */
        /* left: 0; */
        /* translate: 0 25%; */
    }

    .assigned_item {
        position: relative;

    }

    .bottom {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .card:hover{
        transform: translate(0, 0) scale(1);
        box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0);
    }
}