.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #fff;
  color: #000;
}

.brand {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
  margin-bottom: 60px;
  user-select: none;
}

.brand_icon {
  position: relative;
  width: 180px;
  height: auto;
}

.brand_txt {
  position: relative;
  color: inherit;
  font-size: 20px;
  margin-top: -30px;
  font-family: inherit;
  text-align: center;
}

.figure {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.figure.dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.ilust {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.title,
.subtitle {
  text-align: center;
}

.title {
  line-height: 150%;
}

.subtitle {
  line-height: 180%;
}

.title {
  margin-bottom: 30px;
  width: 80%;
}

.suggestion {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.suggestion_btn {
  position: relative;
  display: inline-flex;
  margin: 1ch;
  color: #080726;
}

.suggestion_btn:hover {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height:  100vh;
    min-height: 740px;
  }

  .figure {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 40vh;
    background-color: #bae5f5;
  }

  .ilust {
    display: block;
    width: 100%;
    max-width: 317px;
    height: auto;
  }

  .content {
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: auto;
    padding-bottom: 30px ;
  }

  .heading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  .title,
  .subtitle {
    text-align: center;
  }

  .title {
    margin-bottom: 17px;
  }

  .suggestion {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .suggestion_btn {
    position: relative;
    display: inline-flex;
    margin: 1ch;
    color: #080726;
  }

  .brand {
    margin-bottom: 20px;
  }

  .brand_icon {
    position: relative;
    width: 80px;
    height: auto;
  }
  
  .brand_txt {
    position: relative;
    color: inherit;
    font-size: 13px;
    margin-top: -10px;
    font-family: inherit;
    text-align: center;
  }
}

.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #2a2e34;
  color: #fff;
}
