.control {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    background-color: #fff;
    
}

.access {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 60px;
}

.left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.w_name {
    position: relative;
    color: #000;
    margin-right: 20px;
}

.right{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.right > * {
    position: relative;
    margin-left: 10px;
}

.share_btn {
    border-radius: 100vw;
    /* width: 40px;
    height: 40px; */
    background-color: teal;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  10px;
    /* height: 40px; */
    border: none;
}

.delete_btn {
    border-radius: 100vw;
    /* width: 40px;
    height: 40px; */
    background-color:crimson;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  10px;
    /* height: 40px; */
    border: none;
    transition: all 0.1s ease-out;
}

.close_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    transition: all 0.1s ease-out;
}

.close_icon {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease-out;
}

.close_btn:hover, .delete_btn:hover, .share_btn:hover {
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    .control {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 68px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        padding: 0 10px;
        background-color: #fff;
        margin-bottom: 30px;
    }

    .w_name {
        display: none;
    }
}