.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 0 20px;
    padding-top: 80px;
    padding-bottom: 30px;
    overflow-x: hidden;

}

.task {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

}

.name{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;

}

.name_inp{
    position: relative;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: #000;
    font-family: inherit;
}

.desc, .deadline, .priority, .participants, .status {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.deadline > .content {
    flex-direction: row;
    align-items: center;
    font-family: inherit;
}

.label {
    position: relative;
    color: #000;
    margin-bottom: 10px;
}

.list {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    overflow-x: scroll;
    height: 55px;
}

.item {
    position: relative;
    margin-left: 20px;

}

.item:nth-child(1) {
    margin-left: 0;
}

.date{
    color: #1C062D;
    margin-left: 20px;
}

