.control {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 62px;
  height: 62px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  padding-left: 70px;
  background-color: #fff;
  top: 50px;
  left: 0;
  z-index: 20;
}

.control.dark {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.first {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.access {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 60px;
}

.left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w_name {
  position: relative;
  font-weight: 600;
  font-size: 18px;
}

.created_date::after {
    content: " ";
    padding: 5px 1.5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.created_date.dark::after {
  background-color: rgba(255, 255, 255, 0.5);
}


.right {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.right > * {
  position: relative;
  margin-left: 10px;
}

.share_btn {
  border-radius: 100vw;
  /* width: 40px;
    height: 40px; */
  background-color: teal;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* height: 40px; */
  border: none;
}

.delete_btn {
  border-radius: 100vw;
  /* width: 40px;
    height: 40px; */
  background-color: crimson;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* height: 40px; */
  border: none;
  transition: all 0.1s ease-out;
}

.close_btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  transition: all 0.1s ease-out;
}

.close_icon {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease-out;
}

.close_btn:hover,
.delete_btn:hover,
.share_btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 640px) {
  .control {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 62px;
    height: 90px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0 5px;

    background-color: #fff;
    top: 0px;
    left: 0;
    z-index: 20;
  }

  .w_name {
    font-size: 12px;
  }

  .first {
    height: 50%;
  }

  .second {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    width: 100%;
  }

  .second .left, .second .right{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .head {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider {
    position: absolute;
    height: 3px;
    width: 50%;
    bottom: 0;
    left: 0;
    background-color: steelblue;
  }


}

.dark {
  background-color: rgb(48, 53, 60);
  color: #fff;
}
