.avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 80%;
    
}

.green_light{
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 40%;
    background-color: rgb(12, 179, 12);
    bottom: 0%;
    right: 5%;
}