.btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.icon{
    position: relative;
    height: 18px;
    width: auto;
    
}