.btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: 0 5px;
}

.icon{
    position: relative;
    height: 18px;
    width: auto;
    
}

.notification{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE500;
    color: #000;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    top: -10%;
    right: -10%;
    font-size: 9px;
}

