.controler {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 88%;
}

.bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 250px;
    padding: 30px 14px;
    border-radius: 8px;
    font-family: inherit;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
}

.title {
    position: relative;
    font-family: inherit;
}

.count {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 26px;
    border-radius: 8px;
    font-family: inherit;
}

.tools {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
}

.btn:hover {
    opacity: 0.5;
}


@media screen and (max-width: 425px) {
    .controler {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 88%;
    }

    .bar {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 184px;
        padding: 0 14px;
        border-radius: 8px;
        font-family: inherit;

    }

    .title {
        position: relative;
        /* color: #fff; */
        font-family: inherit;
    }

    .count {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 26px;
        border-radius: 8px;
        font-family: inherit;
    }

    .tools {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .btn {
        position: relative;
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
        margin-left: 20px;
    }


}